body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-image: url("Foto.jpg"); 
    background-size: 100% auto; /* Ajusta a largura da imagem para cobrir toda a largura do cabeçalho */
    background-position: top right; /* Define a posição da imagem como superior direita */
    background-repeat: no-repeat; /* Para evitar que a imagem se repita */
    color: #fff; /* Cor do texto */
    padding: 20px;
    text-align: center; /* Alinhar o texto ao centro */
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Estilos para o rodapé */
footer {
    background-color: #333;
    color: #ffffff;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.Forza {
    width: 100%;
}

body{
    text-align: center;
}
